---
services:
  products:
    container_name: products
    ports:
      - 3001:4000
    build:
      args:
        - APPLICATION_NAME=products
        - APPLICATION_PATH=apps/products-subgraph
      dockerfile: ./infrastructure/subgraphs.Dockerfile
      context: '.'
