---
services:
  products:
    container_name: products
    ports:
      - 3001:3001
    build:
      args:
        - APPLICATION_NAME=products
        - APPLICATION_PATH=apps/products-subgraph
      dockerfile: ./infrastructure/subgraphs.Dockerfile
      context: '.'
    networks:
      - graphql
  pricing:
    container_name: pricing
    ports:
      - 3002:3002
    build:
      args:
        - APPLICATION_NAME=pricing
        - APPLICATION_PATH=apps/pricing-subgraph
      dockerfile: ./infrastructure/subgraphs.Dockerfile
      context: '.'
    networks:
      - graphql
  apollo-router:
    container_name: router
    image: ghcr.io/apollographql/router:v1.10.2
    volumes:
      - ./supergraph.graphql:/dist/schema/supergraph.graphql
    command:
      [
        '--dev',
        '-s',
        'schema/supergraph.graphql',
        '--log',
        'info'
      ]
    ports:
      - '4000:4000'
    depends_on:
      - products
      - pricing
    networks:
      - graphql
networks:
  graphql:
